@font-face {
    font-family: Ailerons;
    src: url("../font/Ailerons.otf") format("opentype");
}

/* Responsiveness */
 /* Small devices (tablets and phones, 768px and down) */
 @media only screen and (max-width: 768px) {

    #vault-search {
        margin: auto auto;
        width: 90%;
    }

    .app {
        width: calc(50% - 20px);
        margin: 10px 10px !important;
        align-self: flex-start;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    #vault-search {
        position: absolute;
        top: 5%;
        left: 70%;
        width: 20%;
    }

    .app {
        width: calc(20% - 20px);
        margin: 10px 10px !important;
        align-self: flex-start;
    }
 }

/* EOR */

.app .card-title {
    text-shadow: 4px 4px 8px #000000;
}

.app .card-content * {
    word-wrap: break-word; 
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#vault-title {
    text-align: center;
    font-family: 'Ailerons', sans-serif;
    font-size: 10vh;
}

#vault-caption {
    text-align: center;
    font-family: 'Ailerons', sans-serif;
    margin-top: -2vh;
    font-size: 3vh;
}

.input-search {
    margin: auto auto;
    width: 90%;
}

#app-container {
    display: flex;
    flex-flow: column wrap;
    margin: auto auto;
    width: 90%;
    height: 75vh;
    overflow: hidden;
    align-content: flex-start;
}