@font-face {
    font-family: Ailerons;
    src: url("../font/Ailerons.otf") format("opentype");
}

/* Responsiveness */
 /* Small devices (tablets and phones, 768px and down) */
 @media only screen and (max-width: 768px) {

    #vault-toolbar-button {
        margin-bottom: 20px;
    }

    #vault-search {
        width: 100%;
    }

    .app-nav .material-icons {
        color: white;
        outline-color: gray;
        font-size: 2em;
    }

    #app-nav-back {
        top: 50%;
        left: 0;
    }

    #app-nav-forward {
        top: 50%;
        right: 0;
    }

    .app {
        width: calc(45vw - 20px);
        margin: 10px 10px !important;
        align-self: flex-start;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 769px) {

    #vault-header {
        margin-bottom: 40px;
    }

    #vault-search {
        height: 5em;
        position: absolute;
        top: 5%;
        right: 5%;
        width: 20%;
    }

    .app-nav .material-icons {
        color: white;
        outline-color: gray;
        font-size: 5em;
    }

    #app-nav-back {
        top: 50%;
        left: 10px;
    }

    #app-nav-forward {
        top: 50%;
        right: 10px;
    }

    .app {
        width: calc(22.5vw - 20px);
        margin: 10px 10px !important;
        align-self: flex-start;
    }
 }

/* Small devices (tablets/phones, 1025px and up) */
@media only screen and (max-width: 1025px) {
    #app-container
    {
        overflow-y: scroll;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1025px) {

    #vault-header {
        margin-bottom: 40px;
    }

    #vault-search {
        height: 5em;
        position: absolute;
        top: 5%;
        right: 5%;
        width: 20%;
    }

    #app-container
    {
        overflow-y: hidden;
    }

    .app-nav .material-icons {
        color: white;
        outline-color: gray;
        font-size: 5em;
    }

    #app-nav-back {
        top: 50%;
        left: 10px;
    }

    #app-nav-forward {
        top: 50%;
        right: 10px;
    }

    .app {
        width: calc(15vw - 20px);
        margin: 10px 10px !important;
        align-self: flex-start;
    }
}

/* Vault main */

body {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

#vault-title {
    margin-top: 10px;
    text-align: center;
    font-family: 'Ailerons', sans-serif;
    font-size: 10vh;
}

#vault-caption {
    text-align: center;
    font-family: 'Ailerons', sans-serif;
    margin-top: -2vh;
    font-size: 3vh;
}

.input-search {
    margin: auto auto;
    width: 90%;
}

/* apps & container */

#app-container {
    display: flex;
    flex-flow: column wrap;
    margin: auto auto;
    width: 90%;
    height: 75vh;
    align-content: flex-start;
    overflow-x: scroll;
}

.app-nav  {
    z-index: 1;
    position: absolute;
}

.card {
    margin: 0px !important;
}

.app {
    position: relative;
}

.app .card-title {
    text-shadow: 4px 4px 8px #000000;
}

.app .card-content * {
    word-wrap: break-word;
}

.selected > .card {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1) !important;
}

.ghost.card {
    opacity: 0.5;
    text-align: center;
    font-size: 25pt;
}

/* material card image override */
.card .card-image img {
    max-width: 100%;
    width: auto !important;
    margin: auto;
}

.app-link:hover {
    cursor:pointer;
}

/* delete badge */

.delete-badge {
    position: absolute !important;
    top: -10px;
    right: -10px;
    height: 25px !important;
    width: 25px !important;
}

.delete-fix {
    line-height: 25px !important;
}

/* modal forms */

.modal-content > h4 {
    margin-bottom: 20px;
}

.modalForm {
    width: 95%;
    margin: auto;
}

/* grid overrides */

.col {
    padding: 0px !important;
}

.input-field.col label {
    left: 0px !important;
}
