<div id="modal_config" class="modal">
    <div class="modal-content">
        <h4>Vault Configuration</h4>
        <form onkeypress="return event.keyCode != 13;" class="modalForm">
            <div class="input-field">
                <i class="material-icons prefix">label</i>
                <input id="configInput_title" type="text" class="validate" value="{{title}}">
                <label for="configInput_title">Vault Name</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">settings_ethernet</i>
                <input id="configInput_caption" type="text" class="validate" value="{{caption}}">
                <label for="configInput_caption">Caption</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">insert_photo</i>
                <select id="configSelect_background" class="icons">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="horizon" data-icon="assets/img/horizon.jpg">Horizon</option>
                  <option value="sky" data-icon="assets/img/sky.jpg">Sky</option>
                  <option value="neogray" data-icon="assets/img/neogray.jpg">Neo Gray</option>
                </select>
                <label>Background image</label>
            </div>
            <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input id="configInput_passphrase" type="password" class="validate" value="{{passphrase}}">
                <label for="configInput_passphrase">Passphrase</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="config-apply" class="modal-action waves-effect waves-green btn-flat">Apply</a>
        <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>