<div class="modal-content">
    <h4>{{title}} Settings</h4>
    <form onkeypress="return event.keyCode != 13;" class="modalForm">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">label</i>
                <input id="appInput_title" type="text" class="validate" value="{{title}}">
                <label for="appInput_title">Title</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">color_lens</i>
                <select id="appSelect_color">
                    <option value="" disabled selected>Choose color</option>
                    <option value="default">Default</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                </select>
                <label for="appSelect_color">Card color</label>
            </div>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">chat</i>
            <textarea id="appInput_detail" class="materialize-textarea">{{detail}}</textarea>
            <label for="appInput_detail">Detail</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">burst_mode</i>
            <input id="appInput_image" type="text" class="validate" value="{{image}}">
            <label for="appInput_image">Image href</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="edit-apply" class="modal-action waves-effect waves-green btn-flat">Apply</a>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
</div>