<div id="modal_auth" class="modal">
    <div class="modal-content">
        <h4>Authenticate to proceed</h4>
        <form style="padding-top: 1vh;">
            <div class="input-field">
                <input placeholder="Seek and ye shall find" id="passphrase" type="password" class="validate" />
                <label for="passphrase">Passphrase</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="submit-passphrase" class="modal-action waves-effect waves-green btn-flat">I'm lucky</button>
    </div>
</div>